@import url("https://fonts.googleapis.com/css?family=Staatliches");
@import url("https://fonts.googleapis.com/css?family=Karla");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Ultra");

/* Global */
a {
  text-decoration: none !important;
  color: rgb(204, 0, 255);
}

.base {
  /* background-color: #fafafa; */
  padding-bottom: 60px;
  background: linear-gradient(130deg, #ffffff 0%, #e1e3e7 100%);
}

.row {
  padding-top: 20px;
  display: flex;
}

.col-md-6 {
  position: sticky;
  display: block;
}

.right {
  padding-top: 20px;
}

.player {
  display: absolute;
  width: 100%;
  height: 100px;
}

.num {
  font-family: "Roboto Mono", monospace;
  font-size: 50px;
  padding: 20px;
  display: inline;
  color: #ccd1dd;
}

.innerContent {
  position: absolute;
  display: inline-block;
  font-family: "Karla", sans-serif;
  padding-bottom: 20px;
}

.epiTitle {
  font-size: 20px;
  margin-top: 10px;
  line-height: 28px;
}

.epiContent {
  font-size: 14px;
  padding-right: 14px;
  line-height: 18px;
  color: #919191;
  padding-bottom: 20px;
}

iframe {
  box-shadow: none !important;
  border-bottom: rgb(255, 255, 255) 4px solid;
}

p {
  margin-top: 10px;
}

/* Dynamic styles */

/* Mobile devices */

@media only screen and (max-width: 600px) {
  .description {
    font-family: "Roboto Mono", monospace;
    font-size: 13px;
    padding-right: 10px;

    color: #727272;
  }

  .title {
    font-family: "Karla", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
  }

  .mainTitle {
    font-family: "Staatliches", sans-serif;
    font-size: 60px;
  }

  .footer {
    display: none;
  }

  .episode {
    width: 100%;
    height: 210px;
    margin-top: 20px;
    background-color: white;
    border-radius: 4px;
    padding-bottom: 20px;
    -webkit-box-shadow: 3px 11px 15px -5px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 3px 11px 15px -5px rgba(0, 0, 0, 0.13);
    box-shadow: 3px 11px 15px -5px rgba(0, 0, 0, 0.05);
    display: relative;
  }
  .innerContent {
    position: absolute;
    display: inline-block;
    font-family: "Karla", sans-serif;
    padding-bottom: 20px;
  }
  .epiContent {
    font-size: 12px;
    margin-right: 20px;
    line-height: 16px;
    color: #919191;
    margin-bottom: 20px;
  }

  .epiTitle {
    font-size: 16px;
    margin-top: 10px;
    line-height: px;
  }

  .info {
    margin-top: 20px;
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    line-height: 24px;
  }
  .appleLogo {
    margin-top: 14px;
    display: inline-block;
  }

  .googleLogo {
    margin-top: 14px;
    display: inline-block;
    margin-left: 10px;
  }
  .footer-mobile {
    margin-top: 40px;
    font-family: "Roboto Mono", monospace;
    font-size: 10px;
    color: #969696;
    display: flex;
    align-content: center;
    justify-content: center;
  }
}

/* Desktop and larger devices */

@media only screen and (min-width: 600px) {
  .description {
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    color: #727272;
    padding-right: 80px;
    margin-top: 10px;
  }

  .title {
    font-family: "Karla", sans-serif;
    font-size: 20px;
    font-weight: 700;
  }

  .mainTitle {
    font-family: "Staatliches", sans-serif;
    font-size: 72px;
  }

  .footer {
    margin-top: 50px;
    color: #969696;
  }

  .episode {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    background-color: white;
    border-radius: 4px;
    padding-bottom: 20px;
    -webkit-box-shadow: 3px 11px 15px -5px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 3px 11px 15px -5px rgba(0, 0, 0, 0.13);
    box-shadow: 3px 11px 15px -5px rgba(0, 0, 0, 0.05);
    display: relative;
  }

  .info {
    margin-top: 50px;
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    line-height: 24px;
  }
  .appleLogo {
    margin-top: 20px;
    display: inline-block;
  }

  .googleLogo {
    margin-top: 20px;
    display: inline-block;
    margin-left: 10px;
  }

  .footer-mobile {
    display: none;
  }
}
